:root {
  --primary-sea-blue: #005daa;
  --secondary-safety-sky-blue: #3f88c8;
  --primary-black: #000000;
  --primary-burnt-orange: #ef3f3f;
  --primary-white: #ffffff;
  --primary-grey: #f7f7f7;
  --primary-green: #55de1f;
  font-family: "Bebas Neue", sans-serif;
}

button {
  font-family: "Bebas Neue", sans-serif;
}

button {
  font-family: "Bebas Neue", sans-serif;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--primary-blue);
  border-radius: 5px;
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .card-container {
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  display: flex;
  position: relative;
  margin-bottom: 20px;
} */

.disc-info {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 0 0 20px;
}

.div-block-2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 30px;
  position: absolute;
  transform: translate(-20px, -20px);
  z-index: 1;
}

.circle-overlay {
  position: relative;
  width: 40px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--primary-burnt-orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-overlay img {
  width: 25px;
  height: auto;
  position: relative;
}

.text-block-2 {
  background-color: var(--primary-burnt-orange);
  width: 103px;
  height: 20px;
  color: rgb(231, 230, 230);
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 11px;
  padding-left: 5px;
  margin-left: -5px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.7px;
  text-overflow: ellipsis;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

.course-wrapper {
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-list {
  background: white;
  border-left: 0;
  width: 160px;
  height: 112px;
}

@media screen and (max-width: 500px) {
  .course-list {
    width: 135px;
    height: 110px;
  }
}

.disc-info .course-list ul {
  padding-left: 4px;
  margin-top: 0;
  margin: 0px;
  list-style: none;
  text-align: left;
  max-height: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.disc-info .course-list ul li {
  padding: 0;
  border-bottom: 1px solid var(--primary-grey);
  /* border-right: 1px solid var(--primary-grey); */
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: rgb(105, 107, 110);
  font-weight: 600;
  max-height: 33px;
  height: 33px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1;
  text-transform: capitalize;
}

.disc-info .course-list ul li:last-child {
  border-bottom: none;
}

.disc-info .course-list ul li i {
  margin-right: 10px;
  padding-left: 0;
  font-size: 15px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px; /* Uniform height for all cards */
  max-width: 160px;
  background-color: #005daa;
  border-radius: 0;
  margin: auto; /* Center the wrapper */
  position: relative;
  overflow: hidden; /* Ensure images don't overflow */
  /* z-index: -1; */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the wrapper while maintaining aspect ratio */
}

@media screen and (max-width: 500px) {
  .image-wrapper {
    width: 135px;
    height: 135px; /* Maintain uniform aspect ratio for smaller screens */
  }

  .card-container {
    padding: 12px;
  }
}

.btn-2 {
  height: 25px;
  max-width: 120px;
  min-height: unset;
  font-size: 0.9rem;
  letter-spacing: normal;
  font-weight: 500;
}

.card-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0px auto;
  width: 70%;
  padding: 0px;
}

.unset-padding {
  padding: 0;
  margin: 0;
}

.padding-1 {
  padding: 4px;
  letter-spacing: 2px;
  margin: 0;
}

/* .padding {
  padding-top: 2px;
} */

.button-popup {
  height: 23px;
  max-width: 70px;
  letter-spacing: 0.7px;
  font-weight: 600;
  font-size: 0.8em;
}

/* Card from Claim Disc page */

.course-list-claim {
  background: white;
  border-left: 0;
  width: 160px;
  height: 100px;
}

@media screen and (max-width: 500px) {
  .course-list-claim {
    width: 135px;
    height: 100px;
  }
}

.disc-info .course-list-claim ul {
  padding-left: 4px;
  margin-top: 0;
  margin: 0px;
  list-style: none;
  text-align: left;
  max-height: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.disc-info .course-list-claim ul li {
  padding: 0;
  border-bottom: 1px solid var(--primary-grey);
  /* border-right: 1px solid var(--primary-grey); */
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: rgb(105, 107, 110);
  font-weight: 600;
  max-height: 33px;
  height: 33px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1;
  text-transform: capitalize;
}

.disc-info .course-list-claim ul li:last-child {
  border-bottom: none;
}

.disc-info .course-list-claim ul li i {
  margin-right: 10px;
  padding-left: 0;
  font-size: 15px;
}

.ribbon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: var(--primary-green);
  color: white;
  padding: 5px 10px;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: bold;
  /* transform: rotate(45deg); */
  z-index: 1;
}
