
.button-red-courses {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 610px;
    width: 82%;
    height: 50px;
    color: white;
    border: 2px solid transparent; 
    
  }
  
  .button-red-courses:hover {
    background-color: var(--primary-blue);
    transition: 0.3s ease; 
  }
  