.card-container-discs {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
    gap: 2rem;
    padding: 5px 0px;
    overflow-x: auto;
    width: 80%;
    margin-top: -1.2rem;
  }

  @media screen and (max-width: 500px){
    .card-container-discs {
      gap: 1.5rem;
      max-width: 800px;
      width: 80%;
    }
  }

  .card-container-discs::-webkit-scrollbar {
    width: 10px; 
    height: 30px;
}

.card-container-discs::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 1px; 
}