.col-12 {
  flex: 0 0 auto;
  width: 100%;
  max-width: 600px;
}

.select-box input {
  padding: 5px;
  font-size: 16px;
  border: none;
  background-image: none;
  position: relative;
  height: 40px;
  width: 100%;
}

.form-control {
  border: none !important;
  width: 100%;
  max-width: 600px;
  border-radius: 0;
  height: 55px;
  border: none;
  display: block !important;
  font-family: "Bebas Neue";
}

.form-control::placeholder {
  color: var(--primary-blue);
  text-align: left;
  font-weight: 400 !important;
}

.number {
  width: 98.4%;
}

@media screen and (max-width: 500px) {
  .number {
    width: 97.2%;
  }
}

.last-name {
  width: 63.7%;
}

@media screen and (max-width: 500px) {
  .last-name {
    width: 61.4%;
  }
}

.buttons-claim-disc {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.Schedule-disc {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
