.logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  height: auto;
  width: 600px;
  margin: auto;
  object-fit: contain;
}

@media screen and (max-width: 635px) {
  .logo {
    width: 330px;
    transition: 0.5s ease;
  }
}
