@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

:root,
#root {
  --primary-blue: #005daa;
  --border-primary-blue: #228de5;
  --dark-primary: #353535;
  --secondary-blue: #228de5;
  --primary-black: #000000;
  --border-primary-black: #606060;
  --primary-red: #ef3f3f;
  --secondary-red: #b90c0c;
  --border-primary-red: #b90c0c;
  --primary-white: #ffffff;
  --primary-grey: #f7f7f7;
  --primary-green: #55de1f;
  --table-separator: #dcdcdc;
  --error-red: #ff0000;
  height: 100dvh;
  width: 100dvw;
}

body {
  margin: 0;
  overflow-x: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--primary-grey);
  font-family: "Bebas Neue";
  padding-bottom: 120px;
  height: 100dvh;
  width: 100dvw;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
  gap: 1rem;
  padding: 20px;
  overflow-x: auto;
  max-width: 90%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 1rem auto;
  gap: 1rem;
  padding: 0px;
}
