@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&family=Roboto");
:root,
#root {
  --primary-blue: #005daa;
  --secondary-blue: #228de5;
  --primary-black: #000000;
  --primary-red: #d31245;
  --primary-white: #ffffff;
  --primary-grey: #e3e3e3;
  --primary-green: #55de1f;
  font-family: "Bebas Neue", sans-serif;
  height: 100dvh;
  width: 100dvw;
}
body {
  font-family: "Bebas Neue", sans-serif;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  max-width: 1300px;
  background-color: var(--primary-blue);
}
.emptyDiv {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Thin.eot");
  src: url("../fonts/BebasNeue-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BebasNeue-Thin.woff2") format("woff2"),
    url("../fonts/BebasNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BebasNeueLight.woff2") format("woff2"),
    url("../fonts/BebasNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.fab-menu-item {
  cursor: pointer;
}

.fab-container {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
  z-index: 15;
  background-color: transparent;
  border-radius: 40px;
}

.fab {
  background-color: var(--primary-red);
  border: none;
  /* border: 3px solid #e3e3e3; */
  border-radius: 50%;
  color: var(--primary-white);
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  z-index: 15;
  position: relative;
  height: 65px;
  width: 65px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab-menu-container {
  position: fixed;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 225px;
  height: 225px;
  border-radius: 50%;
  opacity: 0.65;
  background-color: var(--primary-red);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.fab-menu-container.active {
  display: flex;
}

.fab-menu {
  position: relative;
  width: 225px;
  height: 2250px;
}

.fab-menu-item {
  position: absolute;
  bottom: 100%;
  width: 120px;
  text-align: center;
  color: var(--secondary-blue) !important;
  font-size: 0.9rem;
  transform: translateX(-50%);
}

.fab-menu-item-text {
  color: var(--secondary-blue) !important;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.fab-menu-item-text-left {
  color: var(--secondary-blue) !important;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
}

.fab-menu-item-text-right {
  color: var(--secondary-blue) !important;
  margin: 0px;
  padding: 0px;
  text-align: left;
  padding-right: 10px;
}

.fab-menu-item:nth-child(1) {
  left: 0%;
  top: 20%;
  transform: translate(-50%, 0);
  color: var(--secondary-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0px;
  text-align: left;
  height: 125px;
  width: 125px;
}

.fab-menu-item:nth-child(2) {
  top: -15%;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--secondary-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0px;
  text-align: left;
  height: 125px;
  width: 125px;
}

.fab-menu-item:nth-child(3) {
  top: 20%;
  right: -120px;
  transform: translate(-50%, 0);
  color: var(--secondary-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0px;
  text-align: left;
  height: 125px;
  width: 125px;
}

.fab-menu-item i {
  color: white;
  background-color: var(--secondary-blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 12;
  bottom: -30%;
}

.overlay.active {
  display: block;
}

.logo-fab {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0px;
  padding: 0px;
  object-fit: contain;
  z-index: 12;
}

footer {
  background-color: var(--secondary-blue);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 13px 0 9px;
  overflow: visible; /* Ensure pseudo-element is visible outside the bounds */
}
footer::before {
  content: "";
  position: absolute;
  top: -5px; /* Align with the top of the footer */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  width: 73px; /* Width of the semi-circle, adjust as needed */
  height: 50px; /* Height of the semi-circle, adjust as needed */
  background-color: var(--primary-blue); /* Background color of main-section */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 36.5px; /* Half the width, creating a semi-circle */
  border-bottom-right-radius: 36.5px; /* Half the width, creating a semi-circle */
  z-index: -1;
}

.footer-content .col-2 {
  position: relative;
}

.footer-content span {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-white);
}

.footer-content img {
  max-width: 25px;
}

.sort-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  /* display: inline-block; */
  width: 40px; /* Smaller width */
  height: 22px; /* Smaller height */
}

#sortToggle {
  margin-left: 10px;
}

.switch-label {
  font-size: 12px; /* Smaller font size for the labels */
  margin: 0 5px; /* Space around the labels */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6347; /* Red background color */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; /* Adjusted for smaller height */
  width: 18px; /* Adjusted for smaller width */
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3; /* Blue background color */
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px); /* Adjusted for smaller width */
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.course-button .course-btn {
  width: 100%;
  text-align: center;
  color: var(--primary-white);
  background: var(--primary-red);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.2;
  padding: 6px 10px;
  letter-spacing: 0.6px;
  border: 1px solid var(--primary-red);
  white-space: nowrap;
}

.course-btn:hover {
  background: var(--primary-blue);
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
}

.load-more .more-btn {
  text-align: center;
  color: var(--primary-white);
  background: var(--secondary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  padding: 4px;
  letter-spacing: 0.6px;
  border: 1px solid var(--secondary-blue);
  max-width: 110px;
  margin: 0 auto;
}

.more-btn:hover {
  background: var(--primary-red);
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
}

#findMyDisc {
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid var(--primary-red);
  border-radius: 0px;
  min-width: 200px;
}

#findMyDisc:hover {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border: 2px solid var(--primary-white);
}

a {
  text-decoration: none;
}
.course-box .course-box-detail {
  display: flex;
  align-items: center;
  max-height: 65px;
}
.course-box-detail .course-image img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.course-box-detail .course-image {
  /* width: 75px; */
  border: 2px solid var(--primary-white);
}
.course-box-detail .course-list {
  background: var(--primary-white);
  border: 1px solid var(--primary-white);
  border-left: 0;
  width: calc(100% - 74px);
}
.course-box-detail .course-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  max-height: 66px;
}
.course-box-detail .course-list ul li {
  padding: 2px;
  border-bottom: 1px solid var(--primary-grey);
  border-right: 1px solid var(--primary-grey);
  display: flex;
  align-items: center;
  font-size: 9px;
  font-family: "Lato", sans-serif;
  max-height: 22px;
  height: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1;
}
.course-box-detail .course-list ul li img {
  margin-right: 6px;
  padding-left: 4px;
  width: 10px;
}
.course-bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 0;
}
.course-bottom .course-dis {
  color: var(--primary-white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.course-bottom .course-dis span {
  font-size: 0.75rem;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1;
  max-width: 75%;
}
.course-bottom .course-dis img {
  margin-right: 5px;
  width: 15px;
  height: 20px;
  max-width: 25%;
}
.course-section .course-box {
  margin-bottom: 16px;
}
.course-section {
  /* padding: 0 10px; */
  padding: 10px;
  padding-bottom: 40px;
  margin-bottom: 10px;
  height: calc(100dvh - 385px);
  overflow: hidden;
  overflow-y: auto;
}
.course-section-popup {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  overflow-y: auto;
}
.course-section::-webkit-scrollbar {
  width: 5px;
}
.course-section::-webkit-scrollbar-track {
  background: var(--primary-blue);
}
.course-section::-webkit-scrollbar-thumb {
  background: var(--primary-red);
}
.course-section::-webkit-scrollbar-thumb:hover {
  background: var(--primary-red);
}
.newsletterButton {
  background-color: var(--primary-red);
  width: 90%;
  padding: 12px 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  max-width: 610px;
  margin: auto;
}
.newsletterButton:hover {
  background-color: var(--secondary-blue);
  color: var(--primary-white);
}
.where .line-break {
  display: block; /* Makes the span behave like a line break */
  margin: 0; /* Removes any default margin */
}
.where .smaller-text {
  display: block; /* Ensures this text appears on a new line */
  margin-top: -5px; /* Adjusts the space above this line, set as needed */
}
.select-box {
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .form-control {
    width: 90% !important;
  }
  .select-box {
    max-width: 260px;
    margin: 0 auto;
  }
}
@media (max-width: 1400px) {
  .select-box {
    max-width: 70%;
    margin: 0 auto;
  }
}
.form-control::placeholder {
  color: var(--primary-blue);
  text-align: left;
}
.form-control {
  border: 2px solid var(--secondary-blue) !important;
  width: 90% !important;
  max-width: 500px !important;
  border-radius: 0 !important;
  height: 50px !important;
  margin: 0 auto !important;
  display: block !important;
  color: var(--primary-blue);
}
.main-section {
  background-color: var(--primary-blue);
  height: 100%;
  width: 100%;
}
img.weblogo {
  width: 12%;
  padding: 20px 0 0;
}
.main-section .overtext {
  color: var(--secondary-blue);
  font-weight: 500 !important;
}
.chat-box h4 {
  font-size: 0.75rem;
}
.chat-box img {
  width: 0.75rem;
  transform: translate(5px, -1px);
}
.btn {
  width: 100%;
  text-align: center;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border: none;
  border-radius: 0px;
  font-size: 1.5em;
  cursor: pointer;
}
.btn:hover {
  width: 100%;
  text-align: center;
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  border-radius: 0px;
  font-size: 1.5em;
  cursor: pointer;
}
.secondary-btn {
  width: 50%;
  text-align: center;
  background-color: var(--secondary-blue);
  color: var(--primary-white);
  border: none;
  border-radius: 0px;
  padding: 12px 8px;
  font-size: 1.5em;
  cursor: pointer;
}
.secondary-btn:hover {
  background-color: var(--primary-white);
  color: var(--secondary-blue);
}
.warning-btn-full {
  width: 100%;
  text-align: center;
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  border-radius: 0px;
  padding: 12px 8px;
  font-size: 1.5em;
  cursor: pointer;
}
.warning-btn-full:hover {
  background-color: var(--primary-white);
  color: var(--primary-red);
}
.warning-btn {
  width: 50%;
  text-align: center;
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  border-radius: 0px;
  padding: 12px 8px;
  font-size: 1.5em;
  cursor: pointer;
}
.warning-btn:hover {
  background-color: var(--primary-white);
  color: var(--secondary-blue);
  border: none;
  border-radius: 0px;
  font-size: 1.5em;
  cursor: pointer;
}
/* Popup styles */
.popup {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100dvw; /* Full width */
  height: 100dvh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}
.popup h2 {
  color: var(--primary-white);
  font-size: 1.8rem;
}
.popup p {
  color: var(--primary-white);
  font-size: 1rem;
}
.popup .redText {
  color: var(--primary-white);
  text-decoration: underline;
  text-decoration-color: var(--primary-red);
  text-underline-offset: 2px;
  font-weight: 500;
  /* -webkit-text-stroke: .5px var(--primary-red); */
  letter-spacing: normal;
}
/* Popup Content */
.popup-content {
  max-width: 1080px;
  background-color: var(--primary-blue);
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--primary-blue);
  width: 90%;
  border-radius: 0px;
  border: 3px solid var(--secondary-blue);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* The Close Button */
.close {
  color: var(--secondary-blue);
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 40px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: var(--primary-black);
  text-decoration: none;
  cursor: pointer;
}
h4.confirmd {
  color: #55de1f;
}
.main-section .missingtext {
  color: var(--primary-red);
}
.main-section .missingtext-blue {
  color: var(--secondary-blue);
}
.smaller-text {
  font-size: 0.7rem;
  margin: 0px;
  padding: 0px;
  color: var(--primary-white);
}
.rescue h3 {
  font-size: 3rem;
}
.rescue h3 span {
  font-weight: 100 !important;
  font-family: "Bebas Neue";
}
.stepbutton {
  background-color: var(--primary-red);
  width: 80%;
  /* max-width: 200px; */
  padding: 8px 4px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.failurebutton {
  background-color: var(--primary-red);
  width: 80%;
  max-width: 400px;
  padding: 8px 4px;
  border: none;
  min-height: 50px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.main-section button.stepbutton {
  background-color: var(--primary-red);
  width: 60%;
  max-width: 250px;
  padding: 8px 4px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.main-section button.failurebutton {
  background-color: var(--primary-red);
  width: 80%;
  max-width: 400px;
  padding: 8px 4px;
  border: none;
  min-height: 50px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.failurebutton:hover {
  cursor: pointer;
  background-color: var(--primary-blue) !important;
  border: 2px solid var(--primary-white) !important;
}
.stepbutton:hover {
  cursor: pointer;
  background-color: var(--primary-blue) !important;
  border: 2px solid var(--primary-white) !important;
}
button.rememberbtn {
  width: 50%;
  max-width: 200px;
  padding: 4px;
  border: 2px solid var(--primary-white);
  background-color: var(--primary-blue);
  color: var(--primary-white);
  font-size: 14px;
  letter-spacing: 0.08em;
}
.verify-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  max-width: 600px;
  color: var(--primary-white);
  font-size: 1.35rem;
}
/* button:hover {
  cursor: pointer;
  border: 2px solid var(--primary-white);
  background-color: var(--primary-red);
  color: var(--primary-white);
} */
.rememberbtn:hover {
  cursor: pointer;
  border: 2px solid var(--primary-red);
  background-color: var(--primary-red);
  color: var(--primary-white);
}
.container {
  max-width: 1080px;
  position: relative;
}
.wizardbox {
  padding: 25px 0;
  left: 460px;
  left: 47%;
  right: 0;
  position: absolute;
  bottom: 40px;
  min-width: 400px;
}
.wizardbox img {
  width: 80px;
  max-width: 60px !important;
  padding-top: 15px;
}
.wizardbox p {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-white);
  max-width: 550px;
  text-align: left;
  transform: translate(3px, -11px);
}
.btnaction img.btnlogo {
  width: 35px;
}
button.btnaction {
  background-color: var(--primary-red);
  border: 5px solid var(--primary-blue);
  border-radius: 100%;
  padding: 10px;
  position: absolute;
  top: -46px;
  left: 0;
  right: 0;
  max-width: 64px;
  margin: 0 auto;
}
span.img {
  min-height: 29px;
}
.main-section h3.where {
  font-size: 2rem;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.select-box select {
  border-radius: 0;
  padding: 10px 6px;
  font-size: 16px;
  border: 2px solid var(--secondary-blue);
  background-image: none;
  position: relative;
  color: var(--primary-blue);
  height: 50px !important;
}
.select-box .arrow {
  position: relative;
}
.select-box .arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: var(--secondary-blue) transparent transparent transparent;
  position: absolute;
  right: 21px;
  top: 40%;
  pointer-events: none;
}
.select-box .arrow.one:after {
  content: "";
  right: 10px;
}
.footer-content {
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 570px;
  }
}
@media only screen and (max-width: 640px) {
  img.weblogo {
    width: 30%;
    max-width: 100px;
  }
  .rescue h3 {
    font-size: 2.4rem;
  }
  .footer-content {
    justify-content: space-around;
  }
  .footer-content .col-2:nth-child(2) {
    margin-right: 140px;
  }
  .wizardbox {
    bottom: 40px;
    min-width: 300px;
  }
  .wizardbox p {
    font-size: 16px;
  }
  .wizardbox img {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    max-width: 400px;
  }
  .footer-content .col-2:nth-child(2) {
    margin-right: 75px;
  }
  .footer-content span {
    font-size: 13px;
  }
  .footer-content .col-2 {
    padding: 0;
  }
  .wizardbox img {
    width: 42px;
    padding-top: 35px;
  }
  .wizardbox p {
    padding-right: 24px;
    padding-bottom: 2px;
    font-size: 14px;
  }
  .wizardbox {
    left: 30px;
    bottom: 40px;
    min-width: 300px;
  }
  .wizardbox {
    min-width: 260px;
  }
  .btnaction img.btnlogo {
    width: 24px;
  }
  button.btnaction {
    padding: 11px;
    top: -29px;
    max-width: 57px;
  }
}
.input-dropdown-wrapper input:focus {
  margin-right: 2px !important;
}
.input-dropdown-wrapper input:active {
  margin-right: 2px !important;
}
.input-dropdown-wrapper select:focus {
  margin: 0px;
}
