.buttons-report-popup {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.button-popup-phone {
    width: 50%;
    text-align: center;
    background-color: var(--secondary-safety-sky-blue);
    color: var(--primary-white);
    letter-spacing: 0.5px;
    font-weight: 600;
    border: none;
    border-radius: 0px;
    padding: 12px 8px;
    font-size: 1.5em;
    margin-right: 10px;
    height: 60px;
}

.button-popup-phone:hover {
    color: var(--secondary-safety-sky-blue);
    background-color: var(--primary-white);
    transition: ease 0.2s;
}

.button-popup-email {
    width: 50%;
    text-align: center;
    background-color: var(--primary-burnt-orange);
    color: var(--primary-white);
    letter-spacing: 0.5px;
    font-weight: 600;
    border: none;
    border-radius: 0px;
    padding: 12px 8px;
    font-size: 1.5em;
    height: 60px;
}

.button-popup-email:hover {
    color: var(--secondary-safety-sky-blue);
    background-color: var(--primary-white);
    transition: ease 0.2s;
}

.content-report-popup {
    margin-bottom: 1rem;
    width: 96%;
}