.rescue-flow-components {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem !important;
    margin-bottom: -0;
}

.rescue-flow-components h2 {
    color: var(--primary-white);
    margin: 0;
    font-size: 7.5rem;
}

.rescue-flow-components h2 span {
    font-weight: 300;
}

.steps {
    font-size: 7.5rem;
    color: var(--primary-white);
    margin: 0;
    padding: 0;
}

.rescue-flow-components .overtext-secondary {
    color: var(--secondary-blue);
    text-shadow: 0px 2px 3px #ffffff4f;
    font-family: "Bebas Neue";
    font-weight: 100;
  }

.where-rescue {
    font-size: 2rem;
    letter-spacing: 0.03em;
    font-weight: 500;
    color: var(--primary-white);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 0;
}  

.secondary-missing-text {
    color: var(--secondary-blue);
    font-weight: 500;
}

.smaller-text {
    font-size: 0.8rem;
    margin: 0px;
    padding: 0px;
    color: var(--primary-white);
    margin-top: -15px;
    display: block;
}

.buttons-rescue {
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1rem;
    align-items: center;
}

.button-red-rescue {
    background-color: var(--primary-red);
    width: 75%;
    /* max-width: 250px; */
    padding: 8px 4px;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    height: 50px;
}

.second-button-rescue {
    width: 55%;
    padding: 0px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    font-size: 14px;
    letter-spacing: 0.08em;
    font-weight: 300;
    height: 30px;
}

.white-border {
    border-color: var(--primary-white);
}
