@media (max-width: 767px) {
  .form-control {
    width: 100% !important;
  }
}

.form-control::placeholder {
  color: var(--primary-blue);
  text-align: left !important;
}

.form-control {
  border: 2px solid var(--secondary-blue) !important;
  width: 100% !important;
  max-width: 500px !important;
  border-radius: 0 !important;
  height: 50px !important;
  margin: 0 auto !important;
  display: block !important;
}

.select-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px !important;
}

.where .line-break {
  display: block; /* Makes the span behave like a line break */
  margin: 0; /* Removes any default margin */
}

.where .smaller-text {
  display: block; /* Ensures this text appears on a new line */
  margin-top: -5px; /* Adjusts the space above this line, set as needed */
}
