footer {
  background-color: var(--secondary-blue);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 13px 0 9px;
  overflow: visible; /* Ensure pseudo-element is visible outside the bounds */
}
footer::before {
  content: "";
  position: absolute;
  top: -5px; /* Align with the top of the footer */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  width: 73px; /* Width of the semi-circle, adjust as needed */
  height: 50px; /* Height of the semi-circle, adjust as needed */
  background-color: var(--primary-blue); /* Background color of main-section */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 36.5px; /* Half the width, creating a semi-circle */
  border-bottom-right-radius: 36.5px; /* Half the width, creating a semi-circle */
  z-index: -1;
}
