.content-sub-header {
  max-width: 800px;
  width: 80%;
}

.sub-header {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-blue);
  padding: 0px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: 5px 0px;
  text-align: left;
}
